body{
  background: url(/Casino/img/index_dark.png) no-repeat fixed;
  background-size: cover;
  text-decoration: none;
}

.cover-heading{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

.lead{
  margin-top: 15%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.rule{
  padding: 5px;
  border-radius: 5%;
}

.scrollbar{
  overflow: scroll;
}

::-webkit-scrollbar{
  width: 7.5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*
 *Shop
*/
.buy_coins{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

.about-band-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid #2D9CDB;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, .3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2D9CDB;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: #56CCF2;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2D9CDB;
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border: none;
}

.tour-item {
  display: inline-block;
  padding-right: .5em;
}

.tour-date {
  color: #333;
  width: 11%;
  font-weight: bold;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}

.shop-item {
  margin: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.shop-item-title {
  display: flex;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 200px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: white;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: white;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: white;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: white;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  margin-right: 20px;
}

.cart-total-price {
  color: white;
  font-size: 1.1em;
  font-weight: bold;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
/*
 *Language
*/
.language-btn{
  border: 0px solid white;
  background: none;
  cursor: pointer;
  color: grey;
}

.language-btn:hover{
  color: black;
  font-size: 20px;
}

.active{
  color: black;
}

/*
 *Profil
*/
.profil-btn{
  background: none;
  border: 0px solid black;
  cursor: pointer;
  font-size: 20px;
}

.conexion-btn{
  background: #56CCF2;
  border: 1px solid #56CCF2;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

/*
 *Login
*/

a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}

/*
 *Contact
*/
 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*
  Sign In
*/
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.signin a:visited{
  color: blue;
  background-color: #f1f1f1;
  text-align: center;
}

label{
  display: block;
  text-align: left;
}
#overlay-container {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#support{
  display: inline-block;
  background: white;
  margin: auto;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
}

.question-container{
  text-align: left;
}
.question{
  font-weight: 600;
  margin: 5px 0 0 0;
}
.answer{
  font-weight: 500;
    margin: 0 0 5px 0;
}

.question-btn{
  display: inline;
  background: none;
  border: 0px solid black;
  color: grey;
  cursor: pointer;
}
.question-btn:hover{
  color: black;
}

.question-span{
  visibility: hidden;
  position: relative;
  padding: 3px 5px;
  background: rgba(13, 13, 13, .8);
  color: white;
  border-radius: 5px;
}
